<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/registroylogin.css">
</head>
<body>
<div class="container">
    <h2>Registrarse</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert">
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="username">Nombre de usuario:</label>
        {{ form.username(size=32) }}<br>
        <label for="password">Contraseña:</label>
        {{ form.password(size=32) }}<br>
        <label for="confirm_password">Confirme su contraseña:</label>
        {{ form.confirm_password(size=32) }}<br>
        {{ form.submit(class="button") }}
    </form>
    <p><a href="{{ url_for('login') }}">Iniciar sesión</a></p>
</div>
</body>
</html>
